a {
  text-decoration: none;
  color: #a9a9a9;
  font-size: 0.8rem;
}
body {
  color: #696969;
  background-color: #f0f8ff;
  font-size:20px;
  margin: 0;
}
header{
  background-color: #4169e1;
  height: 70px
}
h1 {
  font-size: 1.8rem;
  text-align: center;
}
h3 {
  font-size: 1.2rem;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
form {
  text-align: center;
}
.post_content {
  padding: 20px;
}
.post_submit {
  padding-bottom: 30px;
}
table {
  text-align: center;
  padding: 20px;
}
th {
  border: 1px solid black;
}
td {
  padding: 10px;
}
footer{
  background-color: #4169e1;
  height: 70px
}
.link {
  text-align: center;
  padding: 20px;
}
.button {
  padding: 30px;
}
.top_menu {
  list-style: none;
  text-align: center;
}
.top_menu li {
  padding-bottom: 5px;
}
