a {
  text-decoration: none;
  color: white;
}
html {
  height: 100%;
}
body {
  color:orange;
  background-color:gray;
  font-size:20px;
  margin: 0;
  height: 100%;
}
header{
  background-color:black;
  height: 80px
}
h1 {
  font-size: 1.8rem;
  text-align: center;
}
form {
  text-align: center;
}
form .post_content {
  padding: 20px;
}
form .post_submit {
  padding-bottom: 30px;
}
table {
  text-align: center;
  padding: 20px;
}
th {
  border-bottom: 1px solid white;
}
.link_to_new {
  font-size: 1rem;
  padding: 20px;
}
footer{
  background-color:black;
  height: 80px
}
